# íŒŒì¼ëª…ë§Œ ë°”ê¿”ì¤€ ë’¤ ëª¨ë‘ ì‹¤í–‰í•˜ì‹œë©´ ë©ë‹ˆë‹¤.
### df_summary['ëˆ„ë½_ì£¼ì°¨'][0] ë¡œ ì–´ë–¤ ì£¼ì°¨ê°€ ëˆ„ë½ì¸ì§€ í™•ì¸ê°€ëŠ¥

In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import date
import os

In [31]:
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

In [32]:
file_path = 'C:\\ai_x\\source\\JikFam\\data\\ë°°ì¶”_ì´ìƒì¹˜ì œê±°_ì£¼ê°„ê¸°ì¤€_ë“±ê¸‰ì½”ë“œ.csv'
output_dir = 'C:\\ai_x\\source\\JikFam\\eda_results'
os.makedirs(output_dir, exist_ok=True)

In [33]:
try:
    df = pd.read_csv(file_path, encoding='cp949')
except FileNotFoundError:
    print(f"ì˜¤ë¥˜: íŒŒì¼ '{file_path}'ì„(ë¥¼) ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤.")
    raise

In [34]:
print("--- ê¸°ì´ˆ í†µê³„ëŸ‰ ---")
print(df.describe())
print("--- ë°ì´í„° ì •ë³´ ---")
df.info()

--- ê¸°ì´ˆ í†µê³„ëŸ‰ ---
           í’ˆëª©ì½”ë“œ           í’ˆì¢…ì½”ë“œ           ë“±ê¸‰ì½”ë“œ        ì´ê¸ˆì•¡(ì›)       ì´ê±°ë˜ëŸ‰(kg)  \
count  983690.0  983690.000000  983690.000000  9.836900e+05  983690.000000
mean        1.0      31.034062      12.201084  2.022335e+06    2690.909213
std         0.0      41.308382       0.879732  8.511261e+06    9999.330792
min         1.0       0.000000      11.000000  1.000000e+02       0.050000
25%         1.0       4.000000      11.000000  1.002000e+05     100.000000
50%         1.0       8.000000      12.000000  3.870000e+05     410.000000
75%         1.0      99.000000      13.000000  1.386000e+06    1940.000000
max         1.0      99.000000      20.000000  7.100456e+08  784070.000000

             í‰ê· ë‹¨ê°€(ì›)      ì£¼ê°„í‰ê· ë‹¨ê°€(ì›)         ì§íŒœì‚°ì§€ì½”ë“œ  íœ´ì¼ì—¬ë¶€  ëª…ì ˆì§€ìˆ˜  ì‘ê¸°ì •ë³´  \
count  983690.000000  983690.000000  983690.000000   0.0   0.0   0.0
mean     1263.126936    1262.368560    1068.441629   NaN   NaN   NaN
std      1189.237995     594.748315      64.940992   NaN   NaN   NaN
min         1.111358     460.956092    1000.000000   NaN   NaN   NaN
25%       500.000000     832.714224    1011.000000   NaN   NaN   NaN
50%       900.000000    1101.391170    1079.000000   NaN   NaN   NaN
75%      1625.000000    1580.011479    1107.000000   NaN   NaN   NaN
max     25900.000000    3920.289233    2000.000000   NaN   NaN   NaN

               ì¼í‰ê· ê¸°ì˜¨           ìµœê³ ê¸°ì˜¨           ìµœì €ê¸°ì˜¨         í‰ê· ìƒëŒ€ìŠµë„  \
count  981380.000000  981380.000000  981380.000000  981380.000000
mean       12.910208      18.571264       8.275603      69.259637
std         9.745473       9.318906       9.779597      15.076828
min       -99.000000     -99.000000     -99.000000      -9.000000
25%         5.600000      11.300000       0.500000      59.600000
50%        13.000000      19.300000       7.600000      71.000000
75%        20.700000      26.000000      16.600000      80.000000
max        33.900000      41.000000      30.600000     100.000000

             ê°•ìˆ˜ëŸ‰(mm)   1ì‹œê°„ìµœê³ ê°•ìˆ˜ëŸ‰(mm)
count  981380.000000  981380.000000
mean       -2.047538      -5.823099
std        14.738771       6.944344
min        -9.000000      -9.000000
25%        -9.000000      -9.000000
50%        -9.000000      -9.000000
75%         0.300000      -9.000000
max       378.500000     105.400000
--- ë°ì´í„° ì •ë³´ ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983690 entries, 0 to 983689
Data columns (total 22 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ì£¼ì°¨            983690 non-null  object
 1   ì—°ì›”ì¼           983690 non-null  object
 2   í’ˆëª©ì½”ë“œ          983690 non-null  int64
 3   í’ˆëª©ëª…           983690 non-null  object
 4   í’ˆì¢…ì½”ë“œ          983690 non-null  int64
 5   í’ˆì¢…ëª…           983690 non-null  object
 6   ë“±ê¸‰ì½”ë“œ          983690 non-null  int64
 7   ë“±ê¸‰ì´ë¦„          983690 non-null  object
 8   ì´ê¸ˆì•¡(ì›)        983690 non-null  float64
 9   ì´ê±°ë˜ëŸ‰(kg)      983690 non-null  float64
 10  í‰ê· ë‹¨ê°€(ì›)       983690 non-null  float64
 11  ì£¼ê°„í‰ê· ë‹¨ê°€(ì›)     983690 non-null  float64
 12  ì§íŒœì‚°ì§€ì½”ë“œ        983690 non-null  int64
 13  íœ´ì¼ì—¬ë¶€          0 non-null       float64
 14  ëª…ì ˆì§€ìˆ˜          0 non-null       float64
 15  ì‘ê¸°ì •ë³´          0 non-null       float64
 16  ì¼í‰ê· ê¸°ì˜¨         981380 non-null  float64
 17  ìµœê³ ê¸°ì˜¨          981380 non-null  float64
 18  ìµœì €ê¸°ì˜¨          981380 non-null  float64
 19  í‰ê· ìƒëŒ€ìŠµë„        981380 non-null  float64
 20  ê°•ìˆ˜ëŸ‰(mm)       981380 non-null  float64
 21  1ì‹œê°„ìµœê³ ê°•ìˆ˜ëŸ‰(mm)  981380 non-null  float64
dtypes: float64(13), int64(4), object(5)
memory usage: 165.1+ MB

In [35]:
print("--- ê²°ì¸¡ì¹˜ í™•ì¸ ---")
print(df.isnull().sum())

--- ê²°ì¸¡ì¹˜ í™•ì¸ ---
ì£¼ì°¨                   0
ì—°ì›”ì¼                  0
í’ˆëª©ì½”ë“œ                 0
í’ˆëª©ëª…                  0
í’ˆì¢…ì½”ë“œ                 0
í’ˆì¢…ëª…                  0
ë“±ê¸‰ì½”ë“œ                 0
ë“±ê¸‰ì´ë¦„                 0
ì´ê¸ˆì•¡(ì›)               0
ì´ê±°ë˜ëŸ‰(kg)             0
í‰ê· ë‹¨ê°€(ì›)              0
ì£¼ê°„í‰ê· ë‹¨ê°€(ì›)            0
ì§íŒœì‚°ì§€ì½”ë“œ               0
íœ´ì¼ì—¬ë¶€            983690
ëª…ì ˆì§€ìˆ˜            983690
ì‘ê¸°ì •ë³´            983690
ì¼í‰ê· ê¸°ì˜¨             2310
ìµœê³ ê¸°ì˜¨              2310
ìµœì €ê¸°ì˜¨              2310
í‰ê· ìƒëŒ€ìŠµë„            2310
ê°•ìˆ˜ëŸ‰(mm)           2310
1ì‹œê°„ìµœê³ ê°•ìˆ˜ëŸ‰(mm)      2310
dtype: int64

In [36]:
df['ì£¼ì°¨ì‹œì‘ì¼'] = df['ì£¼ì°¨'].str.extract(r'^(\d{4}-\d{2}-\d{2})')
df['ì£¼ì°¨ì‹œì‘ì¼'] = pd.to_datetime(df['ì£¼ì°¨ì‹œì‘ì¼'], format='%Y-%m-%d', errors='coerce')

iso = df['ì£¼ì°¨ì‹œì‘ì¼'].dt.isocalendar()
df['ì£¼ì°¨_ì—°ë„'] = iso.year
df['ì£¼ì°¨_ë²ˆí˜¸'] = iso.week

In [37]:
df[['ì£¼ì°¨', 'ì£¼ì°¨ì‹œì‘ì¼', 'ì£¼ì°¨_ì—°ë„', 'ì£¼ì°¨_ë²ˆí˜¸']].head()

                      ì£¼ì°¨      ì£¼ì°¨ì‹œì‘ì¼  ì£¼ì°¨_ì—°ë„  ì£¼ì°¨_ë²ˆí˜¸
0  2018-01-01~2018-01-07 2018-01-01   2018      1
1  2018-01-01~2018-01-07 2018-01-01   2018      1
2  2018-01-01~2018-01-07 2018-01-01   2018      1
3  2018-01-01~2018-01-07 2018-01-01   2018      1
4  2018-01-01~2018-01-07 2018-01-01   2018      1

In [45]:
from datetime import date

def get_weeks_in_year(year):
    return date(year, 12, 28).isocalendar()[1]

summary = []

for crop in df['í’ˆëª©ëª…'].unique():
    df_crop = df[df['í’ˆëª©ëª…'] == crop].copy()

    df_crop = df_crop[(df_crop['ì£¼ì°¨_ì—°ë„'] >= 2018) & (df_crop['ì£¼ì°¨_ì—°ë„'] <= 2024)]

    actual_weeks = set(zip(df_crop['ì£¼ì°¨_ì—°ë„'], df_crop['ì£¼ì°¨_ë²ˆí˜¸']))

    expected_weeks = set()
        for w in range(1, get_weeks_in_year(y) + 1):
            expected_weeks.add((y, w))

    missing_weeks = sorted(list(expected_weeks - actual_weeks))

    null_rows = df_crop.isnull().any(axis=1).sum()
    outlier_rows = df_crop[
        (df_crop['í‰ê· ë‹¨ê°€(ì›)'] > 6000) | (df_crop['í‰ê· ë‹¨ê°€(ì›)'] <= 0)
    ].shape[0]

    summary.append({
        'í’ˆëª©ëª…': crop,
        'ì¡´ì¬_ì—°ë„ë²”ìœ„': "2018~2024",  # ğŸ”’ ê³ ì •
        'ì˜ˆìƒ_ì£¼ì°¨ìˆ˜': len(expected_weeks),
        'ì‹¤ì œ_ì£¼ì°¨ìˆ˜': len(actual_weeks),
        'ëˆ„ë½_ì£¼ì°¨ìˆ˜': len(missing_weeks),
        'ê²°ì¸¡ì¹˜_í–‰ìˆ˜': null_rows,
        'ë‹¨ê°€_ì´ìƒì¹˜_í–‰ìˆ˜': outlier_rows,
        'ëˆ„ë½_ì£¼ì°¨': missing_weeks
    })

df_summary = pd.DataFrame(summary)

In [46]:
df_summary[['í’ˆëª©ëª…', 'ì˜ˆìƒ_ì£¼ì°¨ìˆ˜', 'ì‹¤ì œ_ì£¼ì°¨ìˆ˜', 'ëˆ„ë½_ì£¼ì°¨ìˆ˜']]

  í’ˆëª©ëª…  ì˜ˆìƒ_ì£¼ì°¨ìˆ˜  ì‹¤ì œ_ì£¼ì°¨ìˆ˜  ëˆ„ë½_ì£¼ì°¨ìˆ˜
0  ë°°ì¶”     365     365       0

In [47]:
len(missing_weeks)

0

In [48]:
def format_weeks(week_list):
    return [f"{y}ë…„ë„ {w}ì£¼ì°¨" for (y, w) in week_list]

summary = []

for crop in df['í’ˆëª©ëª…'].unique():
    df_crop = df[df['í’ˆëª©ëª…'] == crop].copy()

    is_outlier = (df_crop['í‰ê· ë‹¨ê°€(ì›)'] > 6000) | (df_crop['í‰ê· ë‹¨ê°€(ì›)'] <= 0)
    df_outlier = df_crop[is_outlier]

    outlier_weeks = sorted(set(zip(df_outlier['ì£¼ì°¨_ì—°ë„'], df_outlier['ì£¼ì°¨_ë²ˆí˜¸'])))
    outlier_weeks_str = format_weeks(outlier_weeks)

    summary.append({
        'í’ˆëª©ëª…': crop,
        'ì´ìƒì¹˜_ì£¼ì°¨ìˆ˜': len(outlier_weeks),
        'ì´ìƒì¹˜_ì£¼ì°¨': outlier_weeks_str
    })

df_outlier_summary = pd.DataFrame(summary)

In [44]:
df_outlier_summary[['í’ˆëª©ëª…', 'ì´ìƒì¹˜_ì£¼ì°¨ìˆ˜']]

  í’ˆëª©ëª…  ì´ìƒì¹˜_ì£¼ì°¨ìˆ˜
0  ë°°ì¶”      147