In [1]:
import pandas as pd
from split_to_week import get_week_of_year

In [2]:
df = pd.read_csv('C:/Users/Admin/Desktop/JikFarm/data/양파_일별_수출입.csv')

In [3]:
df['날짜'] = pd.to_datetime(df['날짜'])

In [4]:
df.set_index('날짜', inplace=True)

In [5]:
weekly_avg_df = df[['수출(중량)', '수출(금액)', '수입(중량)', '수입(금액)']].resample('W').mean()
weekly_avg_df = weekly_avg_df.reset_index()
weekly_avg_df['날짜'] = weekly_avg_df['날짜'].apply(get_week_of_year)

In [6]:
weekly_avg_df

             날짜     수출(중량)      수출(금액)         수입(중량)         수입(금액)
0     2018년 1째주  86.290323  109.645161  433945.551613  155740.064516
1     2018년 2째주  86.290323  109.645161  433945.551613  155740.064516
2     2018년 3째주  86.290323  109.645161  433945.551613  155740.064516
3     2018년 4째주  86.290323  109.645161  433945.551613  155740.064516
4     2018년 5째주  81.165240  109.215273  371457.764977  132144.741935
..          ...        ...         ...            ...            ...
382  2025년 18째주  48.451613   84.094931  298680.219217  124197.647926
383  2025년 19째주  77.290323  136.516129  178972.516129   80519.483871
384  2025년 20째주  77.290323  136.516129  178972.516129   80519.483871
385  2025년 21째주  77.290323  136.516129  178972.516129   80519.483871
386  2025년 22째주  77.290323  136.516129  178972.516129   80519.483871

[387 rows x 5 columns]